body {
  background-color: #040f16;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.left-section {
  flex: 1;
  padding: 60px 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark-mode .left-section {
  background-color: #333333;
}

.right-section {
  flex: 1;
  background-color: #005e7c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #005e7c;
}

.dark-mode-toggle {
  margin-bottom: 20px;
}

.login-input label {
  color: #005e7c;
}

.login-input input {
  color: #005e7c;
}

.login-checkbox {
  color: #005e7c;
}

.login-button {
  background-color: #005e7c;
  color: #ffffff;
}

.login-button:hover {
  background-color: #004c63;
}

.signup-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.signup-subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.signup-button {
  background-color: white;
  color: #005e7c;
  border: 2px solid #005e7c;
}

.signup-button:hover {
  background-color: #f4f4f4;
  color: #004c63;
}

.dark-mode-text {
  color: #005e7c;
}
